/* =============
    Divider
============= */


.divider{

    .container{

        .content{

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "h2 img"
            "a img"
            ;

            h2{
                grid-area: h2;
            }

            a{
                grid-area: a;
            }

            img{
                grid-area: img;
            }
        }
    }
}