/* =============
    Hero
============= */


.hero{

    .container{

        .content{

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "h2 ."
            "p a"
        
            ;

            h2{
                grid-area: h2;
            }

            a{
                grid-area: a;
            }

            img{
                grid-area: img;
            }

            p{
                grid-area: p;
            }
        }
    }
}