/* =============
    Hero
============= */


.hero{

    color: white;
    
        @include md{
            display: grid;
            grid-template-columns: auto 1fr 1fr auto;
            grid-template-areas:
            ". box-1 box-2 ."
            ;
            }
  
            @include xl{
                grid-template-columns: auto 1fr 1fr auto;
                }
    
    
            @include xxl{
                grid-template-columns: auto 660px 660px auto;
                }
            
        .container{

            @include xl{
                grid-template-columns: 16px auto 16px;
                }

            &.box-1{
                padding:20px 20px 14px 28px;
                background-color: rgb(113, 33, 204);
                @include md{
                    grid-area: box-1;
                }

            }

            &.box-2{
                padding:20px 20px 14px 28px;
                background-color: rgb(113, 33, 204);
                @include md{
                    grid-area: box-2;
                }

            }

            .content{

                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-areas:
                "h2 img"
                "p img"
                "a img"
                ;

                h2{
                    grid-area: h2;
                }

                p{
                    grid-area: p;
                }
    
                a{
                    grid-area: a;
                    color: white;
                }
    
                img{
                    grid-area: img;
                }

                

        }
    

        }       
    }