/* =============
    Hero
============= */


.hero{

    .container{

        @include md{

            grid-template-columns: (1fr 1fr);
            grid-template-areas:
            "p1 p2"
            ;

            .office{
                grid-area: p1;
            }

            .location{
                grid-area: p2;
            }
        
        }

        .content{

            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
            "h2 ."
            "p a"
        
            ;

            h2{
                grid-area: h2;
            }

            a{
                grid-area: a;
            }

            img{
                grid-area: img;
            }

            p{
                grid-area: p;
            }
        }
    }
}