/* =============
    Whatsnew
============= */

.whatsnew{

    &.container {



        @include sm{
        display: grid;
        grid-template-columns: auto 357px auto;
        grid-template-areas:
        ". content ."
        ;
        }


    }
}