/* =============
    Footer
============= */

footer{

    background-color: rgb(37, 37, 37);
    color: white;

    .content{

        form{
            button{
                background-color: rgb(113, 33, 204);
            color: white;
            }
        }

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
            "locations newsletter"
            "locations follow"
            ;
            }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
            "locations newsletter follow"
            ;
            }

            .locations{

                @include md{
                    grid-area: locations;
                }


            }

            .newsletter{

                @include md{
                    grid-area: newsletter;
                }


            }

            .follow{

                @include md{
                    grid-area: follow;
                }


            }


    }
}