/* =============
    Footer
============= */

footer{

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        ""
        
        ;
.youtube{
    grid-area:YT;
}

.twitter{
    grid-area:twitter;
}


    }
}