/* =============
    Header
============= */

header{

    @include lg{
        display: grid;
        grid-template-columns: auto 1024px auto;
        grid-template-areas:
        ". content ."
        ;
        }

    background-color: rgb(37, 37, 37);
    .content{
display: grid;
grid-template-columns: 1fr;
padding-top: 16px;

    }
}